@charset "utf-8";

.link1{
	background: url("../images/windows.gif") no-repeat center center fixed;
	background-size: cover; 
}


.link2 {
	background: url("../images/space.gif") no-repeat center center fixed;
	background-size: cover; 
}


.error {
	position: fixed;
	top: 200px; 
	right: 900px;
	
}

.link4 {
	background-color: black; 
}

.link5{
	background-color: blue;
}


.iframe1 {
	position: fixed;
	top: 300px;
	right: 400px;
	
}

.iframe2{
	position: fixed;
	top:300px;;
	right:1000px;;
}
.link6 {
	background-color: turquoise;
}

.link7 {
	line-height: 1.5em;
	color: white; 
	margin: 50px; 
	background: url("../images/outerspace.gif") repeat center center fixed;
	
}

.hyperlink {
	color: blue;
	text-decoration: underline;
}